.newcollectioncontainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    margin-bottom: 10%;
    overflow:visible;
}
h3{
 font-size: 35px;
 font-weight: bolder;
 text-align: center;
}
.newcollection-item {
   display: grid;
  grid-template-columns: repeat(4, 1fr); /* default desktop 4 items */
  gap: 15px;
  overflow-x: auto;   /* ✅ allow horizontal scroll */
  overflow-y: auto; /* ❌ prevent vertical scroll inside */
  scrollbar-width: none; /* ✅ hide scrollbar (Firefox) */
  -ms-overflow-style: none; /* ✅ hide scrollbar (IE/Edge) */
}
.newcollection-item::-webkit-scrollbar {
  display: none; 
}

@media (max-width: 576px) {
  .newcollection-item {
    grid-template-columns: repeat(3, 1fr); /* ✅ 3 items per row */
    gap: 3px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    overflow-x: auto;
  }
}